<script>
    "use nstrict"

    function add_skill(btn) {
        sendform(btn, 'add_skill', {
            arg_func_success: btn,
            func_success(res, btn) {
                let skills = document.getElementById('skills');
                let skill = document.createElement('div');
                skill.innerHTML = res.data.skill + "<input type=\"button\" value=\"X\" style=\"padding:0 2px 0 2px;margin:0;\" onclick=\"delete_skill(this, '" +res.data.skill_id+ "')\">";
                skills.appendChild(skill);
                btn.form.skill.value = "";
            },
            url:WB_URL+'/modules/wbs_portal_obj_profile/api.php'
        });
    }

    function delete_skill(btn, skill_id) {
        sendform(btn, 'delete_skill', {
            arg_func_success: btn,
            data: {skill_id: skill_id},
            func_success(res, btn) {
                btn.parentElement.remove();
            },
            url:WB_URL+'/modules/wbs_portal_obj_profile/api.php'
        });
    }
</script>

<h2> Пользователь {{ profile.name }} {{ profile.surname }} </h2>

<table>
    <tr>
        <td>E-mail:</td>
        <td>{{ profile.email }}</td>
    </tr>
    <tr>
        <td>В предыдущий раз заходили:</td>
        <td>
            {% if can_edit %}
                {{ profile.login_when|date('r') }} с IP-адреса {{ profile.login_ip }}
            {% else %}
                {{ profile.login_when|date('r') }}
            {% endif %}
        </td>
    </tr>

    <tr>
        <td>Специализация:</td>
        <td>
            <div id='skills'>
                {% for skill in skills %}
                    <div>
                        {{ skill.skill }}
                        {% if can_edit %}
                            <input type="button" value="X" style="padding:0 2px 0 2px;margin:0;" onclick="delete_skill(this, '{{ skill.skill_id }}')">
                        {% endif %}
                    </div>
                    {% if loop.index != loop.length %} <span style="display:inline-block;margin:0 7px"> | </span> {% endif %}
                {% endfor %}
            </div>

            {% if can_edit %}
                <form>
                    <input type="input" name="skill" value="" placeholder="введите специализацию">
                    <input type="button" value="Добавить" onclick="add_skill(this)">
                </form>
            {% endif %}
        </td>
    </tr>

    {% if project_exists %}
    <tr>
        <td>Проекты</td>
        <td>
            Всего проектов: {{ project_count }}.

            {% if projects|length < project_count %}
                Последние  {{ projects|length }} проектов:
            {% endif %}
            
            <br>

            {% for project in projects %}
                <a href="{{ project.obj_url }}" target="_blank">{{ project.title }}</a><br>
            {% endfor %}
            
        </td>
    </tr>
    {% endif %}

    {% if blog_exists %}
    <tr>
        <td>Блог</td>
        <td>
            Всего записей: {{ blog_count }}.

            {% if blogs|length < blog_count %}
                Последние  {{ blogs|length }} записей:
            {% endif %}
            
            <br>

            {% for blog in blogs %}
                <a href="{{ blog.obj_url }}" target="_blank">{{ blog.title }}</a><br>
            {% endfor %}
            
        </td>
    </tr>
    {% endif %}

    {% if apartment_exists %}
    <tr>
        <td>Недвижимость</td>
        <td>
            Всего объектов: {{ apartment_count }}.

            {% if apartments|length < apartment_count %}
                Последние  {{ apartments|length }} объектов:
            {% endif %}
            
            <br>

            {% for apartment in apartments %}
                <a href="{{ apartment.obj_url }}" target="_blank">{{ apartment.name }}</a><br>
            {% endfor %}
            
        </td>
    </tr>
    {% endif %}

</table>

<style>
    div#skills div {
        display: inline-block;
    }
</style>